
#__next {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: "#268E36"
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1000px #1c1c1c inset !important;
}