.contentItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 90%;
    border: 0 !important;
    margin: 5px 0px 0px 0px;
}

.contentItem:nth-child(even) {
    background-color: var(--color-400) !important;
}

.contentItem:nth-child(odd) {
    background-color: var(--color-700) !important;
}

.contentBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
}

.contentBody :nth-child(n) {
    margin: 3px;
}

.contentInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--color-600);
    padding: 5px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.3rem;
}

.infoContainer span {
    margin-right: 10px;
}