.flexCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* Cor background login */
    background-color: var(--color-100);
    border-radius: 10px;
    max-width: 360px;
}

.cardInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: -50px 20px 0px 20px
}

.cardInfo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.cardContent {
    font-size: 1.5rem;
}

.cardBody {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.cardBody label {
    align-self: flex-start;
}

.cardBody button {
    align-self: stretch;
}
.cardItem {
    color: var(--white-80);
}