
.sticky {
    /*sticky*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.flexBody {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.flexColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}
.flexRow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

/*COLUNA1*/
/*NAVBAR*/
.flexNavbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--color-100);
    width: 100%;
    height: 13vh;
}

/*COLUNA2*/
/*MENU ESQUERDA*/
.flexMenu {
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: var(--color-200);
    color: var(--fonte);
    height: 87vh;
}

/*CONTEUDO*/
.flexContent {
    color: var(--color-font-dark);
    display: flex;
    width: 80%;
    height: 100%;
    background-color: var(--color-800);
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
}

.flexNavbar:nth-child(1) {
    text-align: left;
}

.flexNavbar:nth-last-child(n) {
    text-align: right;
}

.navbarItem {
    margin: 6px;
    width: 33%;
}

.navbarItem input[type=text] {
    width: 240px;
    height: 40px;
    border: 2px solid var(--color-200);
    border-radius: 5px;
    background-color: var(--color-150);
}

.navbarItem img {
    width: 80px;
    height: 80px;
    border: 2px solid var(--color-200);
    object-fit: cover;
    border-radius: 50%;
}



.flexMenu .menuItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
}

.activetab {
    background-color: var(--color-100);
    border-radius: 0px 10px 10px 0px;
    margin: 10px 10px 10px 0px !important;
    box-shadow: inset 4px 0px 0px 0px var(--color-300);
    padding-left: 10px;
}

.menuItem :nth-child(n) {
    padding-right: 10px;
    font-size: 1.5em;
}
.menuItem .material-icons {
    font-size: 2em;
}
